{% extends 'layouts.html' %}

{% block body %}
     <div
          class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
          style="
               background-image: url('../static/img/about3.jpg');
               height: 140vh;
               background-repeat: no-repeat;
               background-attachment: fixed;
               background-size: 100% 100%;
          ">
          <h1>About <span class="text-success">Us</span></h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim possimus beatae libero magni facilis, sint distinctio iure quos, hic error doloribus reprehenderit dolorem, modi aut eius magnam consequuntur amet sed!</p>
          <hr>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos magnam impedit quo cumque. Dolores quam ipsam, quod molestias, magnam hic maxime quo earum numquam culpa voluptatum dolore laboriosam dicta aliquam.</p>
     </div>

{% endblock %}