<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Enterprise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div>{% include 'includes/_navbar.html' %}</div>    
    <div class="container-fluid bg-dark m-0"
        style="
            height: 140vh;
            background-size: 100% 100%;
        ">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %} <!-- content is inserted here from extension -->
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
        <!--Contact info-->
        <div class="text-center text-success">Contact Us</div>
        <div class="text-center text-light">Phone No.<br>254- 1156- 67178</span></div>
        <div class="text-center text-light">Email<br>tech@gmail.com</span></div>
        <div class="text-center text-light">Address<br>Milimani, Nakuru</div>
        <!--Contact info-->
        <!-- Copyright -->
        <div class="footer-copyright text-center text-light py-3">© -2021- Copyright:TechEnterprise.com</div>
        <!-- Copyright -->
    </footer>
     <!-- Footer -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript"> CKEDITOR.replace('editor') </script>
</body>
</html>