{% extends 'layouts.html' %}

{% block body %}
    <div
        class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
        style="
            background-image: url('..//static/img/tech5.jpg');
            height: 140vh;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        ">
        <h1><span class="text-success">R</span>estock</h1>
        <a class="btn btn-success" href="/add_product">Add Product</a>
        <hr>
        <table class="table table-striped">
            <tr>
                <th class="text-light">ID</th>
                <th class="text-light">Product Type</th>
                <th class="text-light">Manufacturer</th>
                <th class="text-light">Price</th>
                <th class="text-light">WareHouse ID</th>
                <th class="text-light">Quantity</th>
                <th class="text-light"></th>
            </tr>
            {% for product in products %}
            <tr>
                <td class="text-light">{{product.id}}</td>
                <td class="text-light">{{product.type}}</td>
                <td class="text-light">{{product.manufacturer}}</td>
                <td class="text-light">{{product.price}}</td>
                <td class="text-light">{{product.w_id}}</td>
                <td class="text-light">{{product.quantity}}</td>
                <td>
                    <form action="{{url_for('delete_product', id= product.id)}}" method="post">
                        <input type="hidden" name = "_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}