{% extends 'layouts.html' %}

{% block body %}
    <div
        class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
        style="
            background-image: url('../static/img/warehouses.jpg');
            height: 140vh;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        ">
        <h1><span class="text-success">W</span>arehouses</h1>
        <a class="btn btn-success" href="/add_warehouse">Add Warehouse</a>
        <hr>
        <table class="table table-striped">
            <tr>
                <th class="text-light">Warehouse ID</th>
                <th class="text-light">Region</th>
                <th class="text-light"></th>
            </tr>
            {% for warehouse in warehouses %}
            <tr>
                <td class="text-light">{{warehouse.w_id}}</td>
                <td class="text-light">{{warehouse.region}}</td>
                <td>
                    <form action="{{url_for('delete_warehouse', id= warehouse.w_id)}}" method="post">
                        <input type="hidden" name = "_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}